.board-space {
  width: 33%;
  height: 33%;
  border: 1px solid darkblue;
  background-color: transparent;
  color: wheat;
  outline: none;
  position: relative;
}

.board-space:nth-child(-n + 3) {
  border-top: 0;
  height: 34%;
}
.board-space:nth-child(3n + 1) {
  border-left: 0;
}
.board-space:nth-child(3n + 3) {
  border-right: 0;
}
.board-space:nth-child(3n + 2) {
  width: 34%;
}
.board-space:nth-last-child(-n + 3) {
  border-bottom: 0;
}
