.room-entity {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 37px;
    border-radius: 10px;
    border: 3px solid #54d5c1;
    margin-bottom: 10px;
    justify-content: space-between;
}
