.initial-board {
  width: 400px;
  height: 400px;
  background-color: #ffdab9;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 20%;
  background: transparent;
}

.initial-board .o__line,
.initial-board .x__line {
  stroke: rgb(245, 175, 114);
  transition: all 0.4s ease-in-out;
}

.initial-board .x:hover .x__line {
  stroke: #f05483;
}

.initial-board .o__line:hover {
  stroke: #43c2af;
}

.x.chosen .x__line {
  stroke: #f05483;
}

.o.chosen .o__line {
  stroke: #43c2af;
}
