.controls {
  display: flex;
  justify-content: space-between;
  background-color: peachpuff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px #525252;
}

.users {
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user {
  height: 31px;
  width: 200px;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px #525252;
}

.player-x {
  background-color: #f05483;
}

.player-o {
  background-color: #43c2af;
}

.guest-controls {
  display: flex;
}

.kick-button{
  background-color: yellow;
}

.control-button {
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px #525252;
  filter: brightness(0.8);
  transition: all 0.4s ease-in-out;
}

.control-button:hover {
  filter: brightness(1.2);
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-container .leave-button,
.rematch-button {
  height: 31px;
}

.leave-button {
  background-color: red;
}

.rematch-button {
  outline: none;
  border: none;
  background-color: greenyellow;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.visible {
  height: 28px;
  opacity: 1;
}

@media (min-width: 275px) {
  .controls {
    width: 270px;
    flex-direction: column;
    height: 165px;
  }

  .users {
    height: 50%;
  }
  .button-container {
    width: auto;
    height: 45%;
  }

  .kick-button {
    margin: 0 auto 0 auto;
    flex-grow: 0.8;
  }
}

@media (min-width: 355px) {
  .controls {
    width: 310px;
  }
}

@media (min-width: 599px) {
  .controls {
    width: 400px;
    height: 90px;
    flex-direction: row;
  }

  .users {
    height: auto;
  }

  .button-container {
    width: 89px;
    height: auto;
  }

  .kick-button {
    margin-left: 5px;
  }
}
