.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: peachpuff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px #525252;
}

.users {
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.game-user {
  height: 31px;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px #525252;
  transition: all 0.4s ease-in-out;
}

.player-x {
  background-color: #f05483;
}

.player-o {
  background-color: #43c2af;
}

.guest-controls {
  display: flex;
}

.kick-button {
  margin-left: auto;
  flex-grow: 0.8;
  height: 31px;
  background-color: yellow;
}

.control-button {
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px #525252;
  filter: brightness(0.8);
  transition: all 0.4s ease-in-out;
}

.button-container {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-container .leave-button {
  height: 28px;
}

.leave-button {
  background-color: red;
}

.rematch-button {
  outline: none;
  border: none;
  background-color: greenyellow;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.visible {
  height: 28px;
  opacity: 1;
}

@media (min-width: 275px) {
  .controls {
    width: 270px;
    flex-direction: column;
    height: 165px;
  }

  .game-user {
    width: 170px;
  }

  .button-container {
    width: auto;
  }
}

@media (min-width: 355px) {
  .controls {
    width: 310px;
  }
}

@media (min-width: 599px) {
  .controls {
    width: 400px;
  }

  .game-user {
    width: 200px;
  }
}
