.App-page {
  padding: 10px;
  display: flex;
  background-color: #ffdab9;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px #525252;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.page-title{
  text-align: center;
  padding: 3px;
}

.secondary-title{
  margin-top: 10px;
}

@media (min-width: 275px) {
  .App-page {
    width: 270px;
  }
}

@media (min-width: 315px) {
  .App-page {
    width: 310px;
  }
}

@media (min-width: 355px) {
  .App-page {
    width: 350px;
  }
}

@media (min-width: 410px) {
  .App-page {
    width: 380px;
  }
}
