.message{
    display: flex;
    width: 200px;
    height: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: peachpuff;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px 0px #525252;
    transition: all 0.7s ease-in-out;
}

.yes{
    transform: rotateX(360deg);
}

.no{
    transform: rotateX(-360deg);
}