.room {
  &:nth-child(even) {
    .room-entity {
      background-color: #f05483;
      border: 3px solid #43c2af;
    }
  }

  &:nth-child(odd) {
    .room-entity {
      background-color: #43c2af;
      border: 3px solid #f05483;
    }
  }
}
