.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: peachpuff;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px #525252;
  overflow: hidden;
}

@media (min-width: 275px) {
  .board {
    width: 270px;
    height: 270px;
  }
}

@media (min-width: 355px) {
  .board {
    width: 310px;
    height: 310px;
  }
}

@media (min-width: 599px) {
  .board {
    width: 400px;
    height: 400px;
  }
}
