.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: darkblue;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
}
