.game {
  position: relative;
}

@media (min-width: 275px) {
  .game {
    width: 270px;
  }
}

@media (min-width: 315px) {
  .game {
    width: 310px;
  }
}

@media (min-width: 355px) {
  .game {
    width: 350px;
  }
}

@media (min-width: 410px) {
  .game {
    width: 400px;
  }
}

@media (min-width: 599px) {
  .game {
    width: 600px;
    height: 600px;
  }
}

@media (min-height: 567px) {
  .game {
    height: 100%;
  }
}

@media (min-height: 670px) {
  .game {
    height: 640px;
  }
}
