@import "./utils/commonCss/component-container.scss";
@import "./utils/commonCss/form-input.scss";
@import "./utils/commonCss/form-link.scss";
@import "./utils/commonCss/o.scss";
@import "./utils/commonCss/page-content.scss";
@import "./utils/commonCss/page-form.scss";
@import "./utils/commonCss/page.scss";
@import "./utils/commonCss/reset.scss";
@import "./utils/commonCss/submit-button.scss";
@import "./utils/commonCss/x.scss";
@import './utils/commonCss/scrollbar.scss';
@import './utils/commonCss/typography.scss';

.App {
  background-color: orange;
  height: 100vh;
  overflow: hidden;
}

li {
  list-style: none;
}

